1) Lists                  ** Python Practice **

In [7]:
myList = [1,2,3,4,5]

myList[1:3]

[2, 3]

In [8]:
myList = [1,2,3,4,5]
myList[::-1]

[5, 4, 3, 2, 1]

In [9]:
myList = [1,2,3,4,5]
myList[::2]

[1, 3, 5]

In [10]:
myList.pop()

5

In [11]:
myList

[1, 2, 3, 4]

In [12]:
myList.append("Rajeev")

In [14]:
myList

[1, 2, 3, 4, 'Rajeev']

In [15]:
len(myList)

5

In [17]:
len(myList[4])

6

In [19]:
myList.pop()

'Rajeev'

In [20]:
myList.reverse()

In [21]:
myList

[4, 3, 2, 1]

In [22]:
myList.clear()

In [23]:
myList

[]

In [26]:
myList.append([1,3,2,5,7,8,24,5,66,7,8])

In [27]:
myList

[[1, 3, 2, 5, 7, 8, 24, 5, 66, 7, 8]]

In [33]:
myList[0].sort()
print(myList[0])

[1, 2, 3, 5, 5, 7, 7, 8, 8, 24, 66]

In [29]:
myList

[[1, 3, 2, 5, 7, 8, 24, 5, 66, 7, 8]]

In [34]:
range(5)

range(0, 5)

In [35]:
print(range(5))

range(0, 5)

In [36]:
myList.pop()

[1, 2, 3, 5, 5, 7, 7, 8, 8, 24, 66]

In [40]:
for i in range(50):
    myList.append(i)
print(myList[::5])

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [45]:
myList.remove(40)
myList[30:]

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48]

In [51]:
a=myList
a[0]
a.pop()

48

In [53]:
myList[30:]

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47]

In [54]:
a=myList.copy()

In [55]:
a[-1]

47

In [56]:
myList[-1]

47

In [57]:
a.pop()

47

In [ ]:
a

In [59]:
myList[-1]

47

In [60]:
a[-1]

46

******************
2) Sets
******************

In [61]:
mySet = {0,1,1,2,2,3,3,3,3,4,5}
print(mySet)

{0, 1, 2, 3, 4, 5}

In [64]:
#Use set to deduplicate the list or tuples
mySet = set(('a','b','c','c'))
print(mySet)

{'b', 'a', 'c'}

In [65]:
# 'add' an element to set not insert or append
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [66]:
#You can use both discard and remove to remove an eliment
mySet.remove('c')
mySet.discard('d')
mySet

{'a', 'b'}

In [68]:
# mySet.remove('c') throws an error if eliment is not there.
mySet.discard('c') # but discard does not throw error if eliment is not there.

******************
3) Tuples
******************

In [69]:
myTuple = ('a','b','c','c')
print(myTuple)

('a', 'b', 'c', 'c')

In [70]:
myTuple[0]

'a'

In [71]:
myTuple[::-1]

('c', 'c', 'b', 'a')

In [72]:
def returnMultipleValues():
    return 1,2,3

type(returnMultipleValues())

tuple

In [73]:
myTuple2 = 1,2,3
type(myTuple2)

tuple

In [74]:
a,b,c = myTuple2
print(a)
print(b)
print(c)

1
2
3

*************
4) Disctionaries
***************

In [85]:
from collections import defaultdict

In [75]:
myDisctionary = {'a':'apple', 'b':'banana'}
myDisctionary['a']

'apple'

In [78]:
myDisctionary.pop('b')

'banana'

In [79]:
myDisctionary

{'a': 'apple'}

In [80]:
myDisctionary['b'] = 'bear' #add a new key-value pair
myDisctionary['a'] = 'antelope' #update existing value
myDisctionary

{'a': 'antelope', 'b': 'bear'}

In [81]:
myDisctionary.keys()

dict_keys(['a', 'b'])

In [82]:
#Convert keys to seperate list
aList = list(myDisctionary.keys())
print(aList)

['a', 'b']

In [89]:
myNewDisct = {   
    'a' : ['apple','antelope'],
    'b' : ['banana'],
    'c' : ['cat']
}

myNewDisct['c'].append('caribou')

myNewDisct['d'] = ['dog','duck']

print(myNewDisct)

{'a': ['apple', 'antelope'], 'b': ['banana'], 'c': ['cat', 'caribou'], 'd': ['dog', 'duck']}

The Default dict

In [90]:
#If we dont want to check weather the key is already there in the Dict or not then 
# we can use Default  Dict (defaultdict). We need to import that package from collections
myDefDict = defaultdict(list)

myDefDict['a'].append('Arithmatic')

myDefDict

defaultdict(list, {'a': ['Arithmatic']})

In [92]:
print(myDefDict)
print(myDisctionary)

defaultdict(<class 'list'>, {'a': ['Arithmatic']})
{'a': 'antelope', 'b': 'bear'}

In [93]:
myList = list(range(100))

len(myList)

100

In [94]:
myListDivBy10 = [ item for item in myList if item % 10 == 0 ]

print(myListDivBy10)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [97]:
myString = 'My name is Rajeev Agrawal. I live in Gurgaon'
myList = myString.split() # split based on space
myList

['My', 'name', 'is', 'Rajeev', 'Agrawal.', 'I', 'live', 'in', 'Gurgaon']

In [96]:
myString = 'My name is Rajeev Agrawal. I live in Gurgaon'
myList = myString.split('.') # split based on space
myList

['My name is Rajeev Agrawal', ' I live in Gurgaon']

In [98]:
myList.replace('.', ' ')
myList

AttributeError: 'list' object has no attribute 'replace'